<div class="inputBox">
  <div class="groups">
    <div class="title">グループ情報</div>
  </div>
  <%= form_with model: @group, local: true do |f| %>
    <div class="field">
      <%= f.label :name, "グループ名" %><br/>
      <%= f.text_field :name, value: @group.name, size: 35 %>
    </div>
    <div class="field">
      <%= f.label :description, "概要説明" %><br/>
      <%= f.text_area :description, size: "35x3,", value: @group.description %>
    </div>
    <div class="field">
      <%= f.label :public, "グループ検索" %><%= fa_icon "question-circle", class: "info", id: "info" %><br/>
      <div class="info-text" id="info-text"><span>表示にすると参加リクエストができるようになります。非表示の場合はメンバーによる招待制です。</span></div>
      <div class="radio">
        <%= f.radio_button :public, true %>表示
      </div>
      <div class="radio">
        <%= f.radio_button :public, false %>非表示
      </div>
    </div>
    <div class="actions">
      <%= f.submit "変更を保存" %>
    </div>
  <% end %>
</div>