<% if current_user.posts.empty? %>
  <div class="groups">
    <div class="title">スタートガイド</div>
    <ul>
      <li>
          <div><%= link_to '自分の好きなものを追加しよう！', user_path(current_user), class: "requests" %></div>
      </li>
    </ul>
  </div>
<% end %>

<div class="groups">
  <div class="title main">参加中のグループ</div>
  <% if @groups.exists? %>
    <div class="wrapper card__contents flexBox">
      <% @groups.each do |group| %>
        <%= link_to group_path(group), class: "search group-index member-card card__block col-xs-12 col-md col-lg col-xl" do %>
          <div class="member-header">
            <div class="profile">
              <div class="name"><%= group.name %></div>
              <div class="status"><%= group.description %></div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <div><br/></div>
  <% end %>
</div>
<% if @requests.exists? %>
  <div class="groups">
    <div class="title">リクエスト中のグループ</div>
    <ul>
      <% @requests.each do |request| %>
        <li class="requested-group">
          <%= link_to request.group.name, group_path(request.group), class: "link" %>
          <%= link_to '取消', group_request_path(request.group.id, request.id), class: "delete", method: :delete, data: { confirm: 'リクエストを取り下げますか？' } %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>