<div class="info">
  <div class="profile-wrap">
    <div class="profile">
      <h2 class="name"><%= link_to @group.name, group_path(@group) %></h2>
      <p class="description"><%= @group.description %></p>
    </div>
  </div>
  <button class="action button">
    <%= link_to '編集', edit_group_path(@group) %><br/>
  </button>
</div>

<div class="request-users">
  <h3 class="title">招待済みのユーザー</h3>
  <p><%= @invites.count %>件</p>
  <ul>
    <% @invites.each do |invite| %>
      <li class="request-user">
        <%= link_to user_path(invite.user), class: "user" do %>
          <div class="image">
            <% if invite.user.image.attached? %>
              <div style="background-image:url(<%= rails_blob_path(invite.user.image) %>)"></div>
            <% else %>
              <div class="no-image"></div>
            <% end %>
          </div>
          <p class="name"><%= invite.user.name %></p>
        <% end %>
        <div class="buttons">
          <%= link_to 'キャンセル', user_invite_path(invite.user.id, invite.id), class: "button reject", method: :delete, data: { confirm: '【確認】招待を取り消します' } %>
        </div>
      </li>
    <% end %>
  </ul>
</div>