<div class="search-page">
  <h2 class="title"><%= fa_icon "search" %> グループをさがす</h2>
  <%= form_with url: search_groups_path, method: :get, local: true, class: "search" do |f| %>
    <%= f.search_field :keyword, autofocus: true, placeholder: "グループ名", class: "form" %>
    <%= f.submit "検索", class: "form-button" %>
  <% end %>

  <div class="cards">
    <% @groups.each do |group| %>
      <%= link_to group_path(group), class: "card" do %>
        <div class="profile">
          <h3 class="name"><%= group.name %></h3>
          <p class="description"><%= group.description %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>