<%= form_with url: search_groups_path, method: :get, local: true do |f| %>
  <%= f.text_field :keyword, placeholder: "グループをさがす" %>
  <%= f.submit "検索" %>
<% end %>

<div class="wrapper card__contents flexBox">
<% @groups.each do |group| %>
  <%= link_to group_path(group), class: "search member-card card__block col-xs-12 col-md col-lg col-xl" do %>
    <div class="member-header">
      <div class="name"><%= group.name %></div>
      <div class="status"><%= group.description %></div>
    </div>
  <% end %>
<% end %>
</div>