<div class="group-header">
  <div class="flex">
    <div class="profile">
      <h1 class="name"><%= @group.name %></h1>
      <div class="description"><%= @group.description %></div>
    </div>
    <% if current_user.in_this_group?(@group) %>
      <div class="edit">
        <%= link_to 'グループ情報', edit_group_path(@group) %><br/>
      </div>
    <% elsif @group.public && !(current_user.requested?(@group)) %>
      <div class="edit">
        <%= link_to '参加をリクエスト', new_group_request_path(@group) %>
      </div>
    <% elsif current_user.requested?(@group) %>
      <div class="edit"><div class="requested">リクエスト済み</div></div>
    <% end %>
  </div>
</div>
<% if current_user.in_this_group?(@group) && @group.requests.exists? %>
  <div><%= link_to '＼参加リクエストが届いています！／', group_requests_path(@group), class: "requests" %></div>
<% end %>
<div class="wrapper card__contents flexBox">
  <% if current_user.in_this_group?(@group) %>
    <% @members.each do |member| %>
      <%= link_to user_path(member), class: "member-card card__block col-xs-12 col-md col-lg col-xl" do %>
        <div class="member-header">
          <div class="image">
            <% if member.image.attached? %>
              <div style="background-image:url(<%= rails_blob_path(member.image) %>)"></div>
            <% else %>
              <div class="no-image"></div>
            <% end %>
          </div>
          <div class="profile">
            <div class="name"><%= member.name %></div>
            <div class="status"><%= member.status %></div>
          </div>
        </div>
        <% member.taken_posts.each.with_index do |post, i| %>
          <% if i < 3 %>
            <div class="favorites group-fav">
              <div class="genre"><span><%= post.genre.name %></span></div>
              <div class="text"><%= simple_format(post.text) %></div>
            </div>
          <% else %>
            <div class="more">And more...</div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% elsif @group.public %>
    <% @members.each do |member| %>
      <%= link_to user_path(member), class: "search member-card card__block col-xs-12 col-md col-lg col-xl" do %>
        <div class="member-header">
          <div class="image">
            <% if member.image.attached? %>
              <div style="background-image:url(<%= rails_blob_path(member.image) %>)"></div>
            <% else %>
              <div class="no-image"></div>
            <% end %>
          </div>
          <div class="profile">
            <div class="name"><%= member.name %></div>
            <div class="status"><%= member.status %></div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% else %>
    ※グループメンバーのみ閲覧できます※
  <% end %>
</div>