<div class="contents">
  <%= render partial: 'layouts/sidebar' %>
  <div class="main-contents">
    <div class="group-header">
      <h1 class="name"><%= @group.name %></h1>
      <div class="description"><%= @group.description %></div>
    </div>
    <div class="wrapper">
      <% if current_user.in_this_group?(@group) || @group.public %>
        <% @members.each do |member| %>
          <%= link_to user_path(member), class: "member-card" do %>
            <div class="member-header">
              <div class="name"><%= member.name %></div>
              <div class="status"><%= member.status %></div>
            </div>
            <% member.taken_posts.each do |post| %>
              <div class="favorites">
                <div class="genre"><%= post.genre.name %></div>
                <div class="text"><%= post.text %></div>
              </div>
            <% end %>
            <div class="favorites">
              <div class="genre">genre</div>
              <div class="text">text text text</div>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <div>※グループメンバーのみ閲覧できます※</div>
      <% end %>
    </div>
  </div>
</div>