<% provide :title, "#{@group.name} | " %>
<!-- group info -->
<% if current_user.in_this_group?(@group) || @group.public %>
<div class="info">
  <div class="profile-wrap">
    <div class="profile">
      <h2 class="name"><%= link_to @group.name, group_path(@group) %></h2>
      <p class="description"><%= @group.description %></p>
    </div>
  </div>
  <% if current_user.in_this_group?(@group) %>
    <%= link_to '編集', edit_group_path(@group), class: "action" %>
  <% elsif current_user.invited?(@group) %>
    <%= form_with url:{ controller: 'user_group_relations', action: 'create'}, local: true do |f| %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :group_id, value: @group.id %>
      <%= f.submit "すぐに参加", class: "action" %>
    <% end %>
  <% elsif @group.public && !(current_user.requested?(@group)) %>
    <%= form_with model: [@group, @request], local: true do |f| %>
      <%= f.submit "参加をリクエスト", class:"action" %>
    <% end %>
  <% elsif current_user.requested?(@group) %>
    <%= link_to 'リクエスト取り消し', group_request_path(@group.id, @group.request(current_user)), class: "action delete", method: :delete, data: { confirm: 'リクエストを取り下げますか？' } %>
  <% end %>
</div>
<% end %>
<!-- group info End -->
<!-- requests -->
<% if current_user.in_this_group?(@group) && @group.requests.exists? %>
  <%= link_to '＼参加リクエストが届いています！／', group_requests_path(@group), class: "requests" %>
<% end %>
<!-- requests End -->
<!-- members -->
<% if current_user.in_this_group?(@group) %>
  <!-- グループのメンバー -->
  <div class="group-contents">
    <div class="members">
      <% @members.each do |member| %>
        <%= link_to user_path(member), class: "member-card", id: "user#{member.id}" do %>
          <div class="member-info">
            <div class="member-image">
              <% if member.image.attached? %>
                <div style="background-image:url(<%= rails_blob_path(member.image) %>)"></div>
              <% else %>
                <div class="no-image"></div>
              <% end %>
            </div>
            <div class="member-profile">
              <div class="name"><%= member.name %></div>
              <div class="status"><%= member.status %></div>
            </div>
          </div>
          <% member.taken_posts.each.with_index do |post, i| %>
            <% if i < 3 %>
              <div class="favorite">
                <div class="genre"><span><%= post.genre.name %></span></div>
                <div class="text"><%= truncate(simple_format(post.text), length: 60, escape: false) %></div>
              </div>
            <% else %>
              <p class="more">And more...</p>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <!-- サブメニュー -->
    <div class="member-list">
      <h3>MENU</h3>
        <div class="sub-menu">
          <p class="menu-option"><%= link_to '参加リクエスト', group_requests_path(@group) %></p>
          <p class="menu-option"><%= link_to '招待済みのユーザー', group_requests_path(@group) %></p>
        </div>
      <h3>MEMBERS</h3>
      <ul id="memberList">
        <% @members.each do |member| %>
        <li><a href="#user<%= member.id %>"><%= member.name %></a></li>
        <% end %>
      </ul>
    </div>
  </div>
<% elsif @group.public %>
  <!-- 検索可能な公開グループ -->
  <div class="group-contents">
    <div class="members">
      <% @members.each do |member| %>
        <%= link_to user_path(member), class: "member-card disabled" do %>
          <div class="member-info">
            <div class="member-image">
              <% if member.image.attached? %>
                <div style="background-image:url(<%= rails_blob_path(member.image) %>)"></div>
              <% else %>
                <div class="no-image"></div>
              <% end %>
            </div>
            <div class="member-profile">
              <div class="name"><%= member.name %></div>
              <div class="status"><%= member.status %></div>
            </div>
          </div>
          <div class="favorite no-member">
            <div class="genre"><span>その他</span></div>
            <div class="text">これはサンプルテキストです</div>
          </div>
          <div class="favorite no-member">
            <div class="genre"><span>その他</span></div>
            <div class="text">この文章が読める人は偉い</div>
          </div>
          <div class="favorite no-member">
            <div class="genre"><span>その他</span></div>
            <div class="text">グループに加入してね</div>
          </div>
          <p class="no-member-notice">CONFIDENTIAL</p>
        <% end %>
      <% end %>
    </div>
  </div>
<% else %>
  <!-- 非公開のグループ -->
  <div class="message">
    <p>※このグループは非公開です。メンバーのみ閲覧できます。<p>
  </div>
<% end %>
<!-- members End -->