<% provide :title, "#{@group.name} | " %>
<!-- group info -->
<div class="info">
  <div class="profile">
    <h2 class="name"><%= @group.name %></h2>
    <p class="description"><%= @group.description %></p>
  </div>
  <% if current_user.in_this_group?(@group) %>
    <button class="action button">
      <%= link_to '編集', edit_group_path(@group) %><br/>
    </button>
  <% elsif @group.public && !(current_user.requested?(@group)) %>
    <button class="action button">
      <%= link_to '参加をリクエスト', new_group_request_path(@group) %>
    </button>
  <% elsif current_user.requested?(@group) %>
    <p class="action requested">リクエスト済み</p>
  <% end %>
</div>
<!-- group info End -->
<!-- requests -->
<% if current_user.in_this_group?(@group) && @group.requests.exists? %>
  <%= link_to '＼参加リクエストが届いています！／', group_requests_path(@group), class: "requests" %>
<% end %>
<!-- requests End -->
<!-- members -->
<% if current_user.in_this_group?(@group) %>
  <div class="group-contents">
    <div class="members">
      <% @members.each do |member| %>
        <%= link_to user_path(member), class: "member-card", id: "user#{member.id}" do %>
          <div class="member-info">
            <div class="member-image">
              <% if member.image.attached? %>
                <div style="background-image:url(<%= rails_blob_path(member.image) %>)"></div>
              <% else %>
                <div class="no-image"></div>
              <% end %>
            </div>
            <div class="member-profile">
              <div class="name"><%= member.name %></div>
              <div class="status"><%= member.status %></div>
            </div>
          </div>
          <% member.taken_posts.each.with_index do |post, i| %>
            <% if i < 3 %>
              <div class="favorite">
                <div class="genre"><span><%= post.genre.name %></span></div>
                <div class="text"><%= simple_format(post.text) %></div>
              </div>
            <% else %>
              <p class="more">And more...</p>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="member-list">
      <p>メンバーリスト</p>
      <ul>
        <% @members.each do |member| %>
        <li><%= member.name %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% elsif @group.public %>
  <div class="members">
    <% @members.each do |member| %>
      <%= link_to user_path(member), class: "search member-card card__block col-xs-12 col-md col-lg col-xl" do %>
        <div class="member-header">
          <div class="image">
            <% if member.image.attached? %>
              <div style="background-image:url(<%= rails_blob_path(member.image) %>)"></div>
            <% else %>
              <div class="no-image"></div>
            <% end %>
          </div>
          <div class="profile">
            <div class="name"><%= member.name %></div>
            <div class="status"><%= member.status %></div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% else %>
  <div class="members">
    ※グループメンバーのみ閲覧できます※
  </div>
<% end %>
<!-- members End -->