<div class="edit">
  <h2 class="title">アカウント情報</h2>
  <%= form_with model: @user, local: true, class: "edit-form" do |f| %>
    <div class="field">
      <%= f.label :image, "プロフィール画像", class: "label" %>
      <%= f.file_field :image, class: "profile-image" %>
    </div>
    <div class="field">
      <%= f.label :name, class: "label" %>
      <%= f.text_field :name, value: @user.name, class:"form" %>
    </div>
    <div class="field">
      <%= f.label :status, "ステータス", class: "label" %>
      <%= f.text_field :status, value: @user.status, placeholder: "所属・役職・性格など", class:"form" %>
    </div>
    <div class="field">
      <%= f.label :description, "自己紹介", class: "label" %>
      <%= f.text_area :description, value: @user.description, placeholder: "ここは自由に自己紹介文を書くエリアです。", class: "form textarea" %>
    </div>
    <div class="actions">
      <%= f.submit "変更を保存", class:"form-button" %>
    </div>
  <% end %>
  <div class="unsubscribe">
    <div class="actions">
      <%= link_to 'アカウントの削除', unsubscribe_path(@user), class: "form-button" %>
    </div>
  </div>
</div>