<div class="inputBox">
  <div class="groups">
    <div class="title">アカウント情報</div>
  </div>
  <%= form_with model: @user, local: true do |f| %>
    <div class="field">
      <%= f.label :image, "プロフィール画像" %><br/>
      <%= f.file_field :image %>
    </div>
    <div class="field">
      <%= f.label :name %><br/>
      <%= f.text_field :name, value: @user.name, size: 25 %>
    </div>
    <div class="field">
      <%= f.label :status, "ステータス" %><br/>
      <%= f.text_field :status, value: @user.status, placeholder: "所属・役職・性格など", size: 25 %>
    </div>
    <div class="field">
      <%= f.label :description, "自己紹介" %><br/>
      <%= f.text_area :description, size: "60x5,", value: @user.description, placeholder: "ここは自由に自己紹介文を書くエリアです。" %>
    </div>
    <div class="actions">
      <%= f.submit "変更を保存" %>
    </div>
  <% end %>
</div>
<div class="unsubscribe">
  <div class="actions">
    <%= link_to 'アカウントの削除', unsubscribe_path(@user), class: "link-btn" %>
  </div>
</div>