<h1>アカウント情報</h1>
<%= form_with model: @user, local: true do |f| %>
  <%= f.label :image, "プロフィール画像" %>
  <div class="form">
    <%= f.file_field :image %>
  </div>
  <%= f.label :name, "表示名" %>
  <div class="form">
    <%= f.text_field :name, value: @user.name %>
  </div>
  <%= f.label :account_name, "アカウントID" %>
  <div class="form">
    <%= f.text_field :account_name, value: @user.account_name %>
  </div>
  <%= f.label :status, "ステータス" %>
  <div class="form">
    <%= f.text_field :status, value: @user.status, placeholder: "所属・役職・性格など" %>
  </div>
  <%= f.label :description, "自己紹介" %>
  <div class="form">
    <%= f.text_area :description, size: "25x5,", value: @user.description, placeholder: "ここは自由に自己紹介文を書くエリアです。" %>
  </div>
  <div class="form">
    <%= f.submit "変更を保存" %>
  </div>
<% end %>