<% provide :title, "#{@user.name} | " %>
<!-- user info -->
<div class="info">
  <div class="profile-wrap">
    <div class="member-image">
      <% if @user.image.attached? %>
        <div id="image-icon" style="background-image:url(<%= rails_blob_path(@user.image) %>)"></div>
      <% else %>
        <div class="no-image"></div>
      <% end %>
    </div>
    <div class="profile">
      <h2 class="name"><%= @user.name %></h2>
      <p class="status"><%= @user.status %></p>
      <% if (@user.status.nil? || @user.status.empty?) && current_user == @user %>
        <p class="status">
          status（所属・役職など）
          <%= link_to edit_user_path(@user) do %><%= fa_icon "edit"%><% end %>
        </p>
      <% end %>
      <% if (@user.description.nil? || @user.description.empty?) && current_user == @user %>
        <p class="description">
          （ここは自由に自己紹介文を書くエリアです）
          <%= link_to edit_user_path(@user) do %><%= fa_icon "edit"%><% end %>
        </p>
      <% else %>
        <%= simple_format(@user.description, class:"description") %>
      <% end %>
    </div>
  </div>
  <% if @user.id == current_user.id %>
    <%= link_to '編集', edit_user_path(@user), class: "action" %>
  <% elsif !(current_user.same_group?(@user)) %>
    <button class="action invite" id="inviteButton">グループに招待</button>
  <% end %>
</div>
<!-- user info End -->
<!-- user contents -->
<div class="user-contents">
  <!-- main area -->
  <% if current_user == @user || current_user.same_group?(@user) %>
    <div class="posts">
      <% @posts.each.with_index do |post, i| %>
        <div class="post">
          <h3 class="genre"><%= post.genre.name %></h3>
          <%= simple_format(post.text, class:"text") %>
          
          <% if current_user == @user %>
            <div class="buttons">
              <button class="button editButton"><%= fa_icon "pencil-square-o" %></button>
              <%= link_to post_path(post), method: :delete, class: "button", data: { confirm: '投稿を削除してもよろしいですか？' } do %>
                <%= fa_icon "trash-o" %>
              <% end %>
            </div>
            <div class="post-box" id="editPost<%= i %>">
              <%= render partial: "posts/form", locals: {post: post, genres: @genres} %>
            </div>
          <% end %>
        </div>
      <% end %>
      <% if current_user == @user %>
        <button class="post new-post" id="newPost" >
          <div class="new-post-button"><%= fa_icon "plus-square-o 3x" %><br/>追加する</div>
        </button>
      <% end %>
    </div>
  <% else %>
    <div class="posts">
      <% @posts.each do |post| %>
        <div class="post confidential">
          <h3 class="genre"><%= post.genre.name %></h3>
          <% num = rand(2) %>
          <% if num == 0 %>
            <p class="text">覗き見しないで！これはダミーテキストです</p>
          <% else %>
            <p class="text">グループに参加してプロフィールをシェアしよう</p>
          <% end %>
          <p class="no-member-notice">CONFIDENTIAL</p>
        </div>
      <% end %>
    </div>
  <% end %>
  <!-- sub area -->
  <div class="side-menu">
    <div class="my-groups">
      <% if current_user.id == @user.id %>
        <%# マイページの場合 %>
        <h3 class="title">参加中のグループ</h3>
        <% unless @user.public_groups.empty? %>
          <ul>
            <% @user.public_groups.each do |group| %>
              <li><%= link_to group.name, group_path(group), class: "group-link" %></li>
            <% end %>
          </ul>
        <% end %>
        <% unless @user.private_groups.empty? %>
          <h3 class="title">非公開のグループ</h3>
          <ul>
            <% @user.private_groups.each do |group| %>
              <li><%= link_to group.name, group_path(group), class: "group-link" %></li>
            <% end %>
          </ul>
        <% end %>
      <% elsif current_user.same_group?(@user) %>
        <%# グループメンバーのページの場合 %>
        <h3 class="title">参加中のグループ</h3>
        <% unless @user.public_groups.empty? %>
          <ul>
            <% @user.public_groups.each do |group| %>
              <li><%= link_to group.name, group_path(group), class: "group-link" %></li>
            <% end %>
          </ul>
        <% end %>
        <h3 class="title">自分と一緒のグループ</h3>
        <ul>
          <% @user.same_groups(current_user).each do |group| %>
            <li><%= link_to group.name, group_path(group), class: "group-link" %></li>
          <% end %>
          <button class="action invite" id="inviteButton">ほかのグループにも招待する</button>
        </ul>
      <% else %>
        <%# 知り合いではないユーザーページの場合 %>
        <h3 class="title">参加中のグループ</h3>
        <% unless @user.public_groups.empty? %>
          <ul>
            <% @user.public_groups.each do |group| %>
              <li><%= link_to group.name, group_path(group), class: "group-link" %></li>
            <% end %>
          </ul>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<!-- user contents End -->
<!-- new post -->
<% if current_user == @user %>
  <div class="post-box" id="formBox">
    <%= render partial: "posts/form", locals: {post: @new_post, genres: @genres} %>
  </div>
<% end %>
<!-- new post End -->
<!-- invite form -->
<% unless current_user == @user %>
  <div class="post-box" id="inviteBox">
    <%= render partial: "user_group_relations/form", locals: {user: @user, groups: @groups_for_invite} %>
  </div>
<% end %>
<!-- invite form End -->
<!-- user image -->
<% if @user.image.attached? %>
  <div class="image-large" id="image-large"><%= image_tag @user.image, class: "image modal" %></div>
<% end %>
<!-- user image End -->