<div class="contents">
  <%= render partial: 'layouts/sidebar' %>
  <div class="main-contents">
    <div class="user-header">
      <div class="profile">
        <div class="name"><%= @user.name %></div>
        <div class="status"><%= @user.status %></div>
      </div>
      <%= @user.description %>
    </div>
    <% if current_user == @user || current_user.same_group?(@user) %>
      <div class="wrapper">
        <div class="favorites">test test test</div>
        <div class="favorites">test test test</div>
        <div class="favorites">test test test</div>
      </div>
    <% else %>
      <div>※グループメンバーのみ閲覧できます※</div>
      <div class="invite">
        <%= form_with url: new_user_group_relation_path, method: :get, local: true do |f| %>
          <%= f.hidden_field :id, value: @user.id %>
          <%= f.submit "自分のグループに招待する"%>
        <% end %>
      </div>
    <% end %>
    <div class="groups">
      <div>参加中のグループ</div>
      <ul>
        <% @user.groups.each do |group| %>
          <li><%= link_to group.name, group_path(group) %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>