<% provide :title, "#{@user.name} | " %>
<!-- user info -->
<div class="info">
  <div class="profile-wrap">
    <div class="member-image">
      <% if @user.image.attached? %>
        <div style="background-image:url(<%= rails_blob_path(@user.image) %>)"></div>
      <% else %>
        <div class="no-image"></div>
      <% end %>
    </div>
    <div class="profile">
      <h2 class="name"><%= @user.name %></h2>
      <p class="status"><%= @user.status %></p>
      <% if (@user.status.nil? || @user.status.empty?) && current_user == @user %>
        <p class="status">
          status（所属・役職など）
          <%= link_to edit_user_path(@user) do %><%= fa_icon "edit"%><% end %>
        </p>
      <% end %>
      <% if (@user.description.nil? || @user.description.empty?) && current_user == @user %>
        <p class="description">
          （ここは自由に自己紹介文を書くエリアです）
          <%= link_to edit_user_path(@user) do %><%= fa_icon "edit"%><% end %>
        </p>
      <% else %>
        <%= simple_format(@user.description, class:"description") %>
      <% end %>
    </div>
  </div>
  <% if @user.id == current_user.id %>
    <%= link_to '編集', edit_user_path(@user), class: "action" %>
  <% end %>
</div>
<!-- user info End -->
<!-- user contents -->
<div class="user-contents">
  <!-- main area -->
  <% if current_user == @user || current_user.same_group?(@user) %>
    <div class="posts">
      <% @posts.each.with_index do |post, i| %>
        <div class="post">
          <h3 class="genre"><%= post.genre.name %></h3>
          <%= simple_format(post.text, class:"text") %>
          
          <% if current_user == @user %>
            <div class="buttons">
              <button class="button editButton"><%= fa_icon "pencil-square-o" %></button>
              <%= link_to post_path(post), method: :delete, class: "button", data: { confirm: '投稿を削除してもよろしいですか？' } do %>
                <%= fa_icon "trash-o" %>
              <% end %>
            </div>
            <div class="post-box" id="editPost<%= i %>">
              <%= render partial: "posts/form", locals: {post: post, genres: @genres} %>
            </div>
          <% end %>
        </div>
      <% end %>
      <% if current_user == @user %>
        <button class="post new-post" id="newPost" >
          <div class="new-post-button"><%= fa_icon "plus-square-o 3x" %><br/>追加する</div>
        </button>
      <% end %>
    </div>
  <% else %>
    <div class="posts">
      <% @posts.each do |post| %>
        <div class="post confidential">
          <h3 class="genre"><%= post.genre.name %></h3>
          <% num = rand(2) %>
          <% if num == 0 %>
            <p class="text">覗き見しないで！これはダミーテキストです</p>
          <% else %>
            <p class="text">グループに参加してプロフィールをシェアしよう</p>
          <% end %>
          <p class="no-member-notice">CONFIDENTIAL</p>
        </div>
      <% end %>
    </div>
  <% end %>
  <!-- sub area -->
  <div class="side-menu">
    <div class="my-groups">
      <p>参加中のグループ
        <% if current_user.id == @user.id %>
          <span id="edit-groups">[編集]</span>
        <% end %>
      </p>
      <ul>
        <% if current_user.id == @user.id %>
          <% unless @user.public_groups.empty? %>
            <% @user.public_groups.each do |group| %>
              <li>
                <%= link_to group.name, group_path(group), class: "group-link" %>
                <%= link_to '脱退', user_group_relation_path(group.relation(@user)), method: :delete, class: "withdraw-btn", data: { confirm: "【確認】#{group.name}から脱退します" }  %>
              </li>
            <% end %>
          <% end %>
          <% unless @user.private_groups.empty? %>
            <p class="filter">非表示のグループ</p>
            <% @user.private_groups.each do |group| %>
              <li>
                <%= link_to group.name, group_path(group), class: "group-link" %>
                <%= link_to '脱退', user_group_relation_path(group.relation(@user)), method: :delete, class: "withdraw-btn", data: { confirm: "【確認】#{group.name}から脱退します" }  %>
              </li>
            <% end %>
          <% end %>
        <% elsif current_user.same_group?(@user) %>
          <% unless @user.public_groups.empty? %>
            <% @user.public_groups.each do |group| %>
              <li><%= link_to group.name, group_path(group), class: "group-link" %></li>
            <% end %>
          <% end %>
          <p class="filter">同じメンバーのグループ</p>
          <% @user.same_groups(current_user).each do |group| %>
            <li><%= link_to group.name, group_path(group), class: "group-link" %></li>
          <% end %>
        <% else %>
          <% unless @user.public_groups.empty? %>
            <% @user.public_groups.each do |group| %>
              <li><%= link_to group.name, group_path(group), class: "group-link" %></li>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    </div>
    <% unless current_user == @user %>
      <div class="invite">
        <%= form_with url: new_user_group_relation_path, method: :get, local: true do |f| %>
          <%= f.hidden_field :id, value: @user.id %>
          <%= f.submit "グループに招待", class: "invite-btn"%>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<!-- user contents End -->
<!-- new post -->
<% if current_user == @user %>
  <div class="post-box" id="formBox">
    <%= render partial: "posts/form", locals: {post: @new_post, genres: @genres} %>
  </div>
<% end %>
<!-- new post End -->