<div class="user-header">
  <div class="flex">
    <div class="flex-left">
      <div class="image">
        <% if @user.image.attached? %>
          <div style="background-image:url(<%= rails_blob_path(@user.image) %>)"></div>
        <% else %>
          <div class="no-image"></div>
        <% end %>
      </div>
      <div class="profile">
        <div class="name"><%= @user.name %><span>( <%= @user.account_name %> )</span></div>
        <div class="status"><%= @user.status %></div>
      </div>
    </div>
    <% if @user.id == current_user.id %>
      <div class="edit">
        <%= link_to 'プロフィールを編集', edit_user_path(@user) %>
      </div>
    <% end %>
  </div>
  <div class="description">
    <%= simple_format(@user.description) %>
  </div>
</div>
<% if current_user == @user || current_user.same_group?(@user) %>
  <div class="wrapper card__contents flexBox">
    <% @posts.each do |post| %>
      <div class="favorites card__block col-xs-12 col-md col-lg col-xl">
        <div class="genre"><span><%= post.genre.name %></span></div>
        <div class="text"><%= post.text %></div>
        <% if @user.id == current_user.id %>
          <div class="btns">
            <%= link_to '編集', edit_post_path(post) %>
            <%= link_to '削除', post_path(post), method: :delete, data: { confirm: '投稿を削除しますか？' } %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="invite">
    <%= form_with url: new_user_group_relation_path, method: :get, local: true do |f| %>
      <%= f.hidden_field :id, value: @user.id %>
      <%= f.submit "グループに招待", class: "invite-btn"%>
    <% end %>
  </div>
<% end %>
<div class="groups">
  <div class="title">参加中のグループ</div>
  <ul>
    <% if current_user.id == @user.id %>
      <% unless @user.public_groups.empty? %>
        <div class="filter">公開グループ</div>
        <% @user.public_groups.each do |group| %>
          <li><%= link_to group.name, group_path(group), class: "group-link" %></li>
        <% end %>
      <% end %>
      <% unless @user.private_groups.empty? %>
        <div class="filter">非公開グループ</div>
        <% @user.private_groups.each do |group| %>
          <li><%= link_to group.name, group_path(group), class: "group-link" %></li>
        <% end %>
      <% end %>
    <% elsif current_user.same_group?(@user) %>
      <% unless @user.public_groups.empty? %>
        <div class="filter">公開グループ</div>
        <% @user.public_groups.each do |group| %>
          <li><%= link_to group.name, group_path(group), class: "group-link" %></li>
        <% end %>
      <% end %>
      <div class="filter">同じメンバーのグループ</div>
      <% @user.same_groups(current_user).each do |group| %>
        <li><%= link_to group.name, group_path(group), class: "group-link" %></li>
      <% end %>
    <% else %>
      <% unless @user.public_groups.empty? %>
        <div class="filter">公開グループ</div>
        <% @user.public_groups.each do |group| %>
          <li><%= link_to group.name, group_path(group), class: "group-link" %></li>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</div>