<div class="close-button">
  <button>×</button>
</div>
<div class="input-box" id="modal">
  <h3>NEW POST</h3>
  <%= form_with model: post, local: true do |f| %>
    <div class="field">
      <%= f.label :genre_id, "テーマ：", class: "genre" %>
      <%= f.collection_select :genre_id, genres, :id, :name, value: post.genre_id %>
    </div>
    <div class="field">
      <%= f.text_area :text, value: post.text, placeholder: "好きなことを自由に書いてください。", class: "textarea" %>
    </div>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <div class="actions">
      <%= f.submit "追加", class: "submit" %>
    </div>
  <% end %>
</div>