
<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Mates</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Sawarabi+Gothic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice || alert %>
      <div class="notifications"><%= notice %><%= alert %></div>
    <% end %>
    <header><%= link_to 'Mates', root_path %></header>
    <% if current_user %>
      <div class="contents">
        <%= render partial: 'layouts/sidebar' %>
        <div class="main-contents"><%= yield %></div>
      </div>
    <% else %>
      <div class="contents">
        <div class="main-contents"><%= yield %></div>
      </div>
    <% end %>
    <footer>
      <p class="footer-contents"><%= link_to 'プライバシーポリシー', helps_policies_path, class: "helps" %></p>
      <p class="footer-contents copyright">&copy; app-mates 2022</p>
    </footer>
  </body>
</html>
