<!DOCTYPE html>
<html lang="ja">
  <head>
    <title><%= yield :title %>Mates</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Sawarabi+Gothic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% if notice || alert %>
      <div class="notifications"><%= notice %><%= alert %></div>
    <% end %>
    <%#  --- header --- %>
    <header class="header">
      <h1 class="logo">
        <%= link_to 'Mates', root_path %>
      </h1>
      <nav class="g-nav">
        <% if current_user%>
        <ul>
          <li><%= link_to groups_path do %><%= fa_icon "users" %>グループ<% end %></li>
          <li><%= link_to  user_path(current_user) do %><%= fa_icon "user-circle-o" %>マイページ<% end %></li>
          <li><%= link_to destroy_user_session_path, method: :delete do %><%= fa_icon "sign-out" %>ログアウト<% end %></li>
        </ul>
        <% end%>
      </nav>
    </header>
    <%#  --- header End --- %>
    <%# --- main --- %>
    <% if current_user %>
      <div class="contents">
        <div class="main-contents"><%= yield %></div>
      </div>
    <% else %>
      <div class="contents">
        <div class="main-contents"><%= yield %></div>
      </div>
    <% end %>
    <%# --- main  End --- %>
    <%# --- footer --- %>
    <footer class="footer">
      <p class="footer-contents"><%= link_to 'プライバシーポリシー', helps_policies_path, class: "helps" %></p>
      <p class="footer-contents copyright">&copy; app-mates 2022</p>
    </footer>
    <%# --- footer  End --- %>
  </body>
</html>
